.title{
    h1{
        font-size: 48px;
        font-family: "proxima";
        color: rgb(46, 46, 46);
        font-weight: bold;
        line-height: 0.875;
}
}

.slider-product{
        
    .slider-base{
        .slides{
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .slider-list{
        margin-top: -40px;
    }
}
.portfolio-content{
    .portfolio-card{
        padding: 40px 0;
        border-bottom: 1px solid #ededed;


   
    .portfolio-txt{
        padding-left: 20px;
        h2{
                font-size: 20px;
                font-family: "Montserrat";
                color: rgb(33, 33, 33);
                font-weight: bold;
                line-height: 1.75;
              
        }
        h3{
                font-size: 16px;
                font-family: "Montserrat";
                color: rgb(97, 97, 97);
                font-weight: bold;
                line-height: 1.875;
                text-align: left;
              
        }
        p{
                font-size: 15px;
                font-family: "Montserrat";
                color: rgb(33, 33, 33);
                line-height: 1.667;
                text-align: left;
              
        }
        button{
                background-color: rgb(254, 33, 59);
                    font-size: 18px;
                    font-family: "proxima";
                    color: rgb(255, 255, 255);
                    font-weight: bold;
                    line-height: 1.333;
                  border: none;
                  width: 235px;
                  height: 50px;
                  &:hover{
                    background: #FFFFFF;
                    border: 1px solid #FE213B;
                    color: #FE213B;
                  }
        }
    }
}

}
.portfolio-btn{
    margin: 50px 0 80px 0;
    .pages-inner{
        display: flex;
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            background-color: #ffffff;
            height: 40px;
            width: 100px;
            font-size: 14px;
            text-align: center;
            font-family: "Montserrat";
            color: rgb(33, 33, 33);
            font-weight: bold;
            line-height: 1.25;
            border: 2px solid rgb(239, 244, 248);
            margin-right: 13px;
        }
    }
}
.pages input[type="radio"] {
    display:none; 
}
.pages label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    height: 40px;
    width: 50px;
    font-size: 14px;
    text-align: center;
    font-family: "Montserrat";
    color: rgb(33, 33, 33);
    font-weight: bold;
    line-height: 1.25;
    border: 2px solid rgb(239, 244, 248);
    margin-right: 13px;

}
.pages input[type="radio"]:checked + label { 
    background-color:#fe213b;
    color: #fff;
    border: none;
}

@media screen and (max-width:576px){
    .title{
        h1{
            font-size: 30px;
    }
    }
    .slider-product{
        .slider-base{
            .slides{
                img{
                    width: 100%;
                }
            }
        }
    .portfolio-content{
    
        .portfolio-card{
            padding: 20px 0;
       
            .slider-list{
                margin-top: -40px;
                .slider-links{
                    img{
                        width: 100%;
                    }
                }
            }
        }
        
    }
  
    }
    .portfolio-btn{
        margin: 30px 0 50px 0;
        .pages-inner{
            display: flex;
            justify-content: center;
            a{
              width: 65px!important;
                height: 40px;
                width: 90px;
                font-size: 14px;
                margin-right: 10px;
            }
        }
    }
    .pages label {
        height: 40px;
        width: 30px;
        font-size: 13px;
        margin-right: 10px;
    
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .title{
        h1{
            font-size: 40px;
    }
    }
    .slider-product{
        .slider-base{
            .slides{
                img{
                    width: 100%;
                }
            }
        }
        .slider-list{
            margin-top: -40px;
            .slider-links{
                img{
                    width: 100%;
                }
            }
        }
    }
    .portfolio-content{
        .portfolio-card{
            padding: 20px 0;
       
        
    }

    }
    .portfolio-btn{
        margin: 30px 0 50px 0;
        .pages-inner{
            display: flex;
            justify-content: center;
            a{
              
                height: 40px;
                width: 90px;
                font-size: 14px;
                margin-right: 10px;
            }
        }
    }
    .pages label {
        height: 40px;
        width: 30px;
        font-size: 13px;
        margin-right: 10px;
    
    }
}

