.search-page{
    .search-title{
        display: flex;
        align-items: baseline;
        padding: 20px 0;
        margin-top: 30px;
        border-bottom: 1px solid #fe213b;
        h1{
            margin: 0;
        }
        h2{
            margin-bottom: 0;
            margin-left: 15px;
            color: #fe213b;
        }
    }
    .search-info{
        padding-top: 20px;
        margin-bottom: 50px;
        .search-info-title{
            color: #fe213b !important;
            font-size: 20px;
            i{
                margin-right: 15px;
            }
        }
        p{
            font-weight: normal;
            font-size: 16px;
            line-height: 140%;
            margin: 0;
        }
        .read-continue{
            color: #fe213b !important;
        }
    }
}