.service-page{
    .transport-title{
        h1{
                font-size: 48px;
                font-family: "proxima";
                color: rgb(46, 46, 46);
                font-weight: bold!important;
                line-height: 0.875;
                text-align: left;     
        }
    }
    .transport-slider{
        margin: 50px 0;
        width: 100%;
        height: 625px;
        .slick-list{
            .slider{
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                img{
                width: 70%;
                height: 100%;
                 position: relative; 
                }
                .slider-txt{
                    width: 70%;
                    height: 68px;
                    background-color: #fe213b;
                    padding: 3px 23px;
                   p{
                    font-family: "proxima";
                        font-size: 15px;
                        color: rgb(255, 255, 255);
                        line-height: 1.867;
                        margin: 0;
                   }
                }
            }
        }
 
    }
    .transport-content{
        background-color: #eff4f8;
        padding: 40px 60px 60px 30px;
        border-left: 5px solid #fe213b;
        margin-bottom: 45px;
        p{
                font-size: 15px;
                font-family: "proxima";
                color: rgb(33, 33, 33);
                line-height: 1.667;
        }
    }
    .line{
        width: 60px;
        height: 3px;
        background-color: #cad6df;
        margin-bottom: 50px;
    }
    .benefit{
        margin-bottom: 50px;
        h1{
                font-size: 24px;
                font-family: "proxima";
                color: rgb(38, 50, 56);
                font-weight: bold;
                margin-bottom: 25px;
              
        }
        h3{
                font-size: 15px;
                font-family: "proxima";
                color: rgb(38, 50, 56);
                font-weight: bold;
                line-height: 1.667;
                margin-bottom: 20px;
        }
        .benefit-card{
            display: flex;
            align-items: baseline;
          
            h4{
                    font-size: 18px;
                    font-family: "proxima";
                    color: rgb(30, 31, 46);
                    font-weight: bold;
                    line-height: 1.389;
                    margin-right: 14px;
                  
            }
            p{
                    margin-bottom: 0;
                    font-size: 15px;
                    font-family: "proxima";
                    color: rgb(38, 50, 56);
                    line-height: 2.4;
            }
        }
    }
    
    .example{
        margin-bottom: 80px;
        h1{
                font-size: 24px;
                font-family: "proxima";
                color: rgb(38, 50, 56);
                font-weight: bold;
                line-height: 1.875;
                text-align: left;
                margin-bottom: 40px;
        }
        .transport-link{
            margin: 0 5px 5px 0;
            h2{
                    font-size: 24px;
                    font-family: "proxima";
                    color: rgb(255, 255, 255);
                    font-weight: bold;
                    line-height: 1.25;
                    padding: 40px 35px 10px 35px;
                
                  
            }
            p{
                    font-size: 15px;
                    font-family: "proxima";
                    color: rgb(255, 255, 255);
                    line-height: 1.6;
                    padding: 10px 35px;
                    display: none;
            }
            &:hover{
                p{
                    display: block;
                }
            }
        }
        .example-card1{
            background: url(../images/service1.png);
            height: 284px;
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: -moz-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgb(33,33,33) 100%);
                background: -webkit-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgb(33,33,33) 100%);
                background: -ms-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgb(33,33,33) 100%);
                opacity: 0;
            }
            &:hover{
                &::before{
                opacity: 1;
                background-image: -moz-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgba(254,33,59,0) 11%, rgba(254,33,59,0) 12%, rgb(254,33,59) 73%);
                background-image: -webkit-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgba(254,33,59,0) 11%, rgba(254,33,59,0) 12%, rgb(254,33,59) 73%);
                background-image: -ms-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgba(254,33,59,0) 11%, rgba(254,33,59,0) 12%, rgb(254,33,59) 73%);
                }
            }
        }
        .example-card2{
            background-image: url(../images/service2.png);
            height: 284px;
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: -moz-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgb(33,33,33) 100%);
                background: -webkit-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgb(33,33,33) 100%);
                background: -ms-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgb(33,33,33) 100%);
                opacity: 0;
            }
            &:hover{
                &::before{
                opacity: 1;
                background-image: -moz-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgba(254,33,59,0) 11%, rgba(254,33,59,0) 12%, rgb(254,33,59) 73%);
                background-image: -webkit-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgba(254,33,59,0) 11%, rgba(254,33,59,0) 12%, rgb(254,33,59) 73%);
                background-image: -ms-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgba(254,33,59,0) 11%, rgba(254,33,59,0) 12%, rgb(254,33,59) 73%);
                }
            }
           
        }
        .example-card3{
            background-image: url(../images/service3.png);
            height: 284px;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: -moz-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgb(33,33,33) 100%);
                background: -webkit-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgb(33,33,33) 100%);
                background: -ms-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgb(33,33,33) 100%);
                opacity: 0;
            }
            &:hover{
                &::before{
                opacity: 1;
                background-image: -moz-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgba(254,33,59,0) 11%, rgba(254,33,59,0) 12%, rgb(254,33,59) 73%);
                background-image: -webkit-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgba(254,33,59,0) 11%, rgba(254,33,59,0) 12%, rgb(254,33,59) 73%);
                background-image: -ms-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgba(254,33,59,0) 11%, rgba(254,33,59,0) 12%, rgb(254,33,59) 73%);
                }
            }
        }
        .example-card4{
            background-image: url(../images/service4.png);
            height: 284px;
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: -moz-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgb(33,33,33) 100%);
                background: -webkit-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgb(33,33,33) 100%);
                background: -ms-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgb(33,33,33) 100%);
                opacity: 0;
            }
            &:hover{
                &::before{
                opacity: 1;
                background-image: -moz-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgba(254,33,59,0) 11%, rgba(254,33,59,0) 12%, rgb(254,33,59) 73%);
                background-image: -webkit-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgba(254,33,59,0) 11%, rgba(254,33,59,0) 12%, rgb(254,33,59) 73%);
                background-image: -ms-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgba(254,33,59,0) 11%, rgba(254,33,59,0) 12%, rgb(254,33,59) 73%);
                }
            }
        }
        .example-card5{
            background-image: url(../images/service5.png);
            height: 284px;
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: -moz-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgb(33,33,33) 100%);
                background: -webkit-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgb(33,33,33) 100%);
                background: -ms-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgb(33,33,33) 100%);
                opacity: 0;
            }
            &:hover{
                &::before{
                opacity: 1;
                background-image: -moz-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgba(254,33,59,0) 11%, rgba(254,33,59,0) 12%, rgb(254,33,59) 73%);
                background-image: -webkit-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgba(254,33,59,0) 11%, rgba(254,33,59,0) 12%, rgb(254,33,59) 73%);
                background-image: -ms-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgba(254,33,59,0) 11%, rgba(254,33,59,0) 12%, rgb(254,33,59) 73%);
                }
            }
            
        }
        .example-transport{
            img{
                width: 120%;
                margin-top: 30px;
            }
        }
    }
}

@media screen and (max-width:576px){
    .service-page{
        .transport-title{
            h1{
                    font-size: 26px;   
            }
        }
        .transport-slider{
            margin: 20px 0;
            .slider{
                .slider-txt{
                  position: relative;
                    height: 80px;
                   p{
                    font-size: 13px;
                    width: 100%;
                    height: 100%;
                    padding: 0 10px;
                   }
                }
            }
        }
        .benefit{
            h1{
                font-size: 22px;
            }
        }
        .example{
            h1{
                font-size: 22px;
            }
            .transport-link{
                margin: 5px 10px ;
            }
            .example-transport{
                img{
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .service-page{
        .transport-slider{
            margin: 20px 0;
            .slider{
                .slider-txt{
                  position: relative;
                    height: 65px;
                   p{
                    font-size: 13px;
                    width: 100%;
                    height: 100%;
                    padding: 5px 10px;
                   }
                }
            }
        }
        .example{
            .example-transport{
                img{
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (min-width:1024px) and (max-width:1350px){
    .service-page {
        .example {
            .example-card1 {
                background-size: cover;
            }
            .example-card2{
                background-size: cover;
            } 
            .example-card3{
                background-size: cover;
            }
             .example-card4{
                background-size: cover;
             }
             .example-card5{
                background-size: cover;
            }
        }
    }

}